<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="apple-touch-icon"
			sizes="76x76"
			href="/assets/img/apple-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="96x96"
			href="/assets/img/favicon.png"
		/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>Add Contact | Email Application</title>

		<meta
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
			name="viewport"
		/>
		<meta name="viewport" content="width=device-width" />

		<!-- Bootstrap core CSS     -->
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />

		<!--  Paper Dashboard core CSS    -->
		<link href="/assets/css/paper-dashboard.css" rel="stylesheet" />

		<!--  CSS for main Purpose, don't include it in your project     -->
		<link href="/assets/css/main.css" rel="stylesheet" />

		<!--  Fonts and icons     -->
		<link
			href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Muli:400,300"
			rel="stylesheet"
			type="text/css"
		/>
		<link href="/assets/css/themify-icons.css" rel="stylesheet" />
	</head>

	<body>
		<div class="wrapper">
			<div
				class="sidebar"
				data-background-color="brown"
				data-active-color="danger"
			>
				<!--
			Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
			Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
		-->
				<div class="logo">
					<a
						href="https://www.creative-tim.com"
						class="simple-text logo-mini"
					>
						EA
					</a>

					<a
						href="https://www.creative-tim.com"
						class="simple-text logo-normal"
					>
						Email Application
					</a>
				</div>
				<div class="sidebar-wrapper">
					<div class="user">
						<div class="photo">
							<img
								alt="profile picture"
								src="/assets/img/faces/face-2.jpg"
							/>
						</div>
						<div class="info">
							<a>
								<span>
									<%- user.name -%>
								</span>
							</a>
							<div class="clearfix"></div>

							<div>
								<ul class="nav">
									<li>
										<a href="/signOut">
											<span class="sidebar-mini">SO</span>
											<span class="sidebar-normal"
												>Sign Out</span
											>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main-panel">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-minimize">
							<button
								id="minimizeSidebar"
								class="btn btn-fill btn-icon"
							>
								<i class="ti-more-alt"></i>
							</button>
						</div>
						<div class="navbar-header">
							<button type="button" class="navbar-toggle">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar bar1"></span>
								<span class="icon-bar bar2"></span>
								<span class="icon-bar bar3"></span>
							</button>
							<a class="navbar-brand" href="#userpage"
								>Add contact</a
							>
						</div>
					</div>
				</nav>
				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-8 col-md-7">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">
											Add Information
										</h4>
									</div>
									<div class="card-content">
										<form
											method="POST"
											action="/onEditContact"
										>
											<input
												type="text"
												name="contactID"
												value="<%- contactID -%>"
												hidden
											/>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="DOB"
															>Date of
															Birth</label
														>
														<input
															id="DOB"
															type="date"
															name="DOB"
															class="form-control border-input"
															autocomplete="bday"
															value="<%- userProfile.DOB -%>"
															autofocus
														/>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label
															for="emailAddress"
															>Email
															Address</label
														>
														<input
															id="emailAddress"
															type="email"
															name="emailAddress"
															class="form-control border-input"
															autocomplete="email"
															value="<%- userProfile.emailAddress -%>"
														/>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="countryCode"
															>Country Code</label
														>
														<input
															id="countryCode"
															type="tel"
															name="countryCode"
															class="form-control border-input"
															autocomplete="tel-country-code"
															value="<%- userProfile.countryCode -%>"
														/>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="mobile"
															>Mobile
															number</label
														>
														<input
															id="mobile"
															type="tel"
															name="mobile"
															class="form-control border-input"
															autocomplete="tel-national"
															value="<%- userProfile.mobile -%>"
														/>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label for="firstName"
															>First Name</label
														>
														<input
															id="firstName"
															type="text"
															class="form-control border-input"
															placeholder="First Name"
															name="firstName"
															autocomplete="given-name"
															value="<%- userProfile.firstName -%>"
														/>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="lastName"
															>Last Name</label
														>
														<input
															id="lastName"
															type="text"
															class="form-control border-input"
															placeholder="Last Name"
															name="lastName"
															autocomplete="family-name"
															value="<%- userProfile.lastName -%>"
														/>
													</div>
												</div>
											</div>
											<div class="text-center">
												<button
													type="submit"
													class="btn btn-info btn-fill btn-wd"
												>
													Edit Contact Information
												</button>
											</div>
											<div class="clearfix"></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%- include('components/footer') %>
			</div>
		</div>
		<%- include('components/scripts') %>
		<script>
			$().ready(() => {
				$("#registerFormValidation").validate();
				$("#loginFormValidation").validate();
				$("#allInputsFormValidation").validate();
			});
			$("#emailAddress").change(() => {
				var payload = {
					checkEmail: document.getElementById("emailAddress").value,
				};
				fetch("/userQuery", {
					method: "POST",
					body: new URLSearchParams($.param(payload)),
				})
					.then((response) => {
						if (response.status !== 200) {
							alert(
								"Looks like there was a problem. Status Code: " +
									response.status
							);
							return;
						}
						response.text().then((data) => {
							if (data != "User exists") {
								document.getElementById("emailAddress").value =
									"";
								alert(
									"User does not exist! Please recheck email."
								);
							}
						});
					})
					.catch((err) => {
						alert("Fetch Error :-S", err);
					});
			});
		</script>
	</body>
</html>
