<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Forgot Password | Email Application</title>
		<%- include('components/meta') %> <%- include('components/link') %>
		<%- include('components/firebaseAuth') %>
	</head>

	<body>
		<nav class="navbar navbar-transparent navbar-absolute">
			<div class="container">
				<div class="navbar-header">
					<button
						type="button"
						class="navbar-toggle"
						data-toggle="collapse"
						data-target="#navigation-example-2"
					>
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/login">Email Application</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/register">
								Register
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="wrapper wrapper-full-page">
			<div
				class="full-page login-page"
				data-color=""
				data-image="/assets/img/background/background-2.jpg"
			>
				<!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
				<div class="content">
					<div class="container">
						<div class="row">
							<div
								class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3"
							>
								<form
									method="POST"
									action="/passwordReset"
									id="allInputsFormValidation"
								>
									<div
										class="card"
										data-background="color"
										data-color="blue"
									>
										<div class="card-header">
											<h3 class="card-title">
												Forgot Password
											</h3>
										</div>
										<div class="card-content">
											<div class="form-group">
												<label for="email"
													>Email address</label
												>
												<input
													type="email"
													name="email"
													id="email"
													placeholder="Enter email"
													class="form-control input-no-border"
												/>
											</div>
										</div>
										<div class="card-footer text-center">
											<button
												type="submit"
												class="btn btn-fill btn-wd"
											>
												Verify and Reset
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<%- include('components/footer') %>
			</div>
		</div>
		<%- include('components/scripts') %>
		<script type="text/javascript">
			$().ready(function () {
				main.checkFullPageBackgroundImage();

				setTimeout(function () {
					// after 1000 ms we add the class animated to the login/register card
					$(".card").removeClass("card-hidden");
				}, 700);
			});
			$().ready(() => {
				$("#registerFormValidation").validate();
				$("#loginFormValidation").validate();
				$("#allInputsFormValidation").validate();
			});
			$("#email").change(() => {
				var payload = {
					checkEmail: document.getElementById("email").value,
				};
				fetch("/userQuery", {
					method: "POST",
					body: new URLSearchParams($.param(payload)),
				})
					.then((response) => {
						if (response.status !== 200) {
							alert(
								"Looks like there was a problem. Status Code: " +
									response.status
							);
							return;
						}
						response.text().then((data) => {
							if (data != "User exists") {
								document.getElementById("email").value = "";
								alert(
									"User does not exist! Please recheck email."
								);
							}
						});
					})
					.catch((err) => {
						alert("Fetch Error :-S", err);
					});
			});
		</script>
	</body>
</html>
