<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Register | Email Application</title>
		<%- include('components/meta') %> <%- include('components/link') %> <%-
		include('components/firebaseAuth') %>
		<script>
			function toggleSignIn() {
				if (firebase.auth().currentUser) {
					firebase.auth().signOut();
				} else {
					var patt = /^([a-z]|[A-Z])([a-z]|[A-Z]|[0-9])*(@email.com)$/;
					if (
						document.getElementsByName("email")[0].value.length <
							11 ||
						document
							.getElementsByName("email")[0]
							.value.slice(-10) !== "@email.com" ||
						!patt.test(document.getElementsByName("email")[0].value)
					) {
						main.showSwal("emailInvalid");
						return;
					}
					patt = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
					if (
						!patt.test(
							document.getElementsByName("password")[0].value
						)
					) {
						main.showSwal("wrongPattern");
						return;
					}
					if (
						document.getElementsByName("password")[0].value !==
						document.getElementsByName("confirmPassword")[0].value
					) {
						main.showSwal("passwordNoMatch");
						return;
					}
					firebase
						.auth()
						.createUserWithEmailAndPassword(
							document.getElementsByName("email")[0].value,
							document.getElementsByName("password")[0].value
						)
						.then((userRecord) => {
							console.log(
								"Successfully fetched user data:",
								userRecord
							);
						})
						.catch((error) => {
							main.showSwal(error.message);
						});
				}
			}
			function initApp() {
				firebase
					.auth()
					.setPersistence(firebase.auth.Auth.Persistence.NONE);
				firebase.auth().onAuthStateChanged((user) => {
					if (user) {
						user.getIdToken()
							.then((idToken) => {
								window.location.href =
									"/sessionRegister?idToken=" + idToken;
							})
							.catch((error) => {
								alert(error);
							});
					}
				});
			}
			window.onload = initApp();
		</script>
	</head>

	<body>
		<div class="wrapper wrapper-full-page">
			<div class="register-page">
				<!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<div class="header-text">
									<h2>Email Application</h2>
									<h4>Register for free.</h4>
									<hr />
								</div>
							</div>
							<div class="col-md-4 col-md-offset-2">
								<div class="media">
									<div class="media-left">
										<div class="icon icon-danger">
											<i class="ti ti-user"></i>
										</div>
									</div>
									<div class="media-body">
										<h5>Free Account</h5>
										Here you can write a feature description
										for your dashboard, let the users know
										what is the value that you give them.
									</div>
								</div>
								<div class="media">
									<div class="media-left">
										<div class="icon icon-warning">
											<i class="ti-bar-chart-alt"></i>
										</div>
									</div>
									<div class="media-body">
										<h5>Awesome Performances</h5>
										Here you can write a feature description
										for your dashboard, let the users know
										what is the value that you give them.
									</div>
								</div>
								<div class="media">
									<div class="media-left">
										<div class="icon icon-info">
											<i class="ti-headphone"></i>
										</div>
									</div>
									<div class="media-body">
										<h5>Global Support</h5>
										Here you can write a feature description
										for your dashboard, let the users know
										what is the value that you give them.
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<form>
									<div class="card card-plain">
										<div class="content">
											<div class="form-group">
												<label for="email">Email</label>
												<input
													id="email"
													type="email"
													placeholder="username@email.com"
													class="form-control"
													name="email"
													autocomplete="email"
													required
												/>
											</div>
											<div class="form-group">
												<label for="password"
													>Password</label
												>
												<input
													id="password"
													type="password"
													placeholder="Password"
													class="form-control"
													name="password"
													autocomplete="new-password"
													required
												/>
											</div>
											<div class="form-group">
												<label for="confirmPassword"
													>Confirm Password</label
												>
												<input
													id="confirmPassword"
													type="password"
													placeholder="Password Confirmation"
													class="form-control"
													name="confirmPassword"
													autocomplete="new-password"
													pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
													required
												/>
											</div>
										</div>
										<div class="footer text-center">
											<button
												type="button"
												class="btn btn-fill btn-danger btn-wd"
												onclick="toggleSignIn()"
											>
												Create Free Account
											</button>
											<div class="forgot">
												<a href="/login"
													>Already have an Account?
													SIGN IN</a
												>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<%- include('components/footer') %>
			</div>
		</div>
		<%- include('components/scripts') %>
	</body>
</html>
